{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "env": {
    "cjs": {
      "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        ["@babel/preset-env", { "modules": "commonjs" }]
      ]
    },
    "esm": {
      "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        ["@babel/preset-env", { "modules": false }]
      ]
    }
  }
}
